<div class="mt-1 float-left ">
    <h4 > Notes </h4>
</div>
<div class="mr-3 float-right btn-size">
    <%= link_to 'Add', new_employee_path,id: 'add_employee', class:"btn btn-primary px-6" %>
</div>
<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]' >
  <table class="table mb-0 thead-border-top-0 mt-1">
    <thead>
      <tr class="table-info">

        <th>Notes</th>
        <th>Date</th>
        <th>Created By</th>
         <th colspan="1">Actions</th>
      </tr>
    </thead>
    <tbody class="list" id="blah" >
    <tbody>
      <% @approvals.each do |approval| %>
      
      <% end %>
    </tbody>
    </tbody>
  </table>
</div>