<div class="p-2 float-left ">
	<h4> Notes </h4>
</div>
<div class="mr-3 mt-2 float-right btn-size">
	<%= link_to 'Add', new_note_path,id: 'add_note', class:"btn btn-primary px-6" %>
</div>

<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
	<table class="table mb-0 thead-border-top-0 mt-1">
		<thead>
			<tr class="table-info">
				<th>Note</th>
				<th>Step</th>
				<th>Date</th>
				<th>Created By	</th>
				<th colspan="1">Actions</th>
			</tr>
		</thead>
		<tbody class="list" id="blah">
			<% @notes.each do |note| %>
				<%= render 'notes/approval_note', note: note %>
			<% end %>
		</tbody>
	</table>
</div>
<div class="pagination card-body float-right <%= @notes.present? && @notes.size < 11 ? 'd-none':''%>" >
	<%= will_paginate @notes %>
</div>