<div class="form-row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_area :description %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-3 left-move"></div>
  <div class="col-lg-4 left-move">
    <%= f.text_field :data_collection_step %>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>

<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-3 left-move  my-2"></div>
    <div class="left-move my-2 ml-2">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move my-2">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
