<div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>
	<table class="table mb-0 thead-border-top-0 mt-1">
		<thead>
			<tr class="table-info">
				<th>Note</th>
				<th>Date</th>
				<th>Created By</th>
				<th colspan="1">Actions</th>
			</tr>
		</thead>
		<% count = 0 %>
		<tbody class="list" id="blah">
			<% @notes.each do |note| %>
				<% if (note.created_by == current_user.email && note.data_collection_step == data_collection && note.task_id == session[:task_id]) %>
					<% count += 1 %>
					<%= render 'notes/note', note: note %>
				<% end %>
			<% end %>
			<% if count == 0 %>
			<tr>
				<td class="result_found"> no results found </td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>