<div class="container-fluid full-scroll">
 <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Secure File</a></li>
      </ol>
    </nav>
      <h1 class="m-0">Secure File</h1>
  </div>
  <%# <table class="table mb-0 thead-border-top-0 mt-1  table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Social Security Number</th>
        <th scope="col">Description</th>
        <th scope="col">Plan Name</th>
        <th scope="col">Reason</th>
        <th scope="col">Completed</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
  </table> %>
</div>
