<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Social Security Number</th>
      <th scope="col">Description</th>
      <th scope="col">Plan Name</th>
      <th scope="col">Reason</th>
      <th scope="col">Completed</th>
      <th scope="col">Status</th>
			<th scope="col">Action</th>
    </tr>
  </thead>
</table>
