<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1>Welcome to Benefit Equity,INC <%= @email %></h1>
    <p>
    Thank You for submitting your data throughname %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @phone %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
