<div class="container-fluid full-scroll">
 <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">My Active Tasks</a></li>
      </ol>
    </nav>
    <h1>My Active Tasks</h1>
  </div>
  <div class="row offset-md-0">
    <div class="col-lg-4"></div>
    <h3>Your list of active tasks</h3>
  </div>
</div>
