<h1>New Family</h1>
 <div class="page__heading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Family</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Family</li>
      </ol>
    </nav>
    <h1 class="m-0">Add New Family</h1>
</div>

<!-- Button trigger modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= bootstrap_form_with(url:families_path,model:@family, local:true) do |f| %>
              <%=render 'form', f: f %>
            <% end %>
          </div>
        </div>
      </div>
    </div>