<p>
  <strong>Name:</strong>
  <%= @principal.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @principal.title %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @principal.officer %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @principal.ownership %>
</p>
