<div class ="employee-form-scroll" > 
  <div class="container-fluid page__heading-container">
    <div class="page__heading cancel-row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
          <li class="breadcrumb-item active" aria-current="page">User</a></li>
        </ol>
      </nav>
      <h1 class="m-0">Change Password</h1>
    </div>
    <div class="card mb-5">
      <div class="row no-gutters">
        <div class="col-lg-12 card-form__body card-body">
          <%= bootstrap_form_for(@user,:url => { :action => "update_password" }, local:true,method: :put) do |f| %>
            <% render 'password',f:f%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
