<div class ="employee-form-scroll" > 
  <div class="container-fluid page__heading-container">
    <div class="page__heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
            <li class="breadcrumb-item active" aria-current="page">User</a></li>
          </ol>
        </nav>
        <h1 class="m-0">Edit User </h1>
    </div>

    <div class="card card-">
      <div class="row no-gutters">
        <div class="col-lg-12 card-form__body card-body">
          <%= bootstrap_form_with(url:user_path,model:@resource,local:true) do |f| %>
            <% if @resource.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% @resource.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%=render 'form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>