<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
        <td><%=user.role%></td>
    </tr>
  </tbody>
<%end%>
</table>


