<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      h1.display-3
      p= link_to '#', class: 'btn btn-primary' do
    </div>
  </div>
<% end %>
<div class="col-md-4 offset-md-3 w-50 p-12 px-md-7 display-4" id="mt-n1">
  <%="Welcome," +current_user.username+"!" %>
</div>
