<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      h1.display-3
      p= link_to '#', class: 'btn btn-primary' do
    </div>
  </div>
<% end %>
<div class="col-md-4 offset-md-4 w-50 p-12 px-md-5 display-3" id="mt-n1">
  <%="Welcome,"%>
  <%=current_user.name %>
  <%="!"%>
</div>