<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      h1.display-3
      p= link_to '#', class: 'btn btn-primary' do
    </div>
  </div>
<% end %>
<%# <div class="container">
  <div class="row">
    <div class="col-lg-4 left-move"></div>
    <div class="col-lg-4 left-move" id="mt-n1">
      <h1 class="m-0"> <%="Welcome," +current_user.username+"!" %><%#</h1>
    </div>
  </div>
</div>%>
