
<div id="scrolling_table_1" class="table-editable scrolly_table">
  <table class="table table-bordered table-striped" style="max-height; background-color: #fff">
    <tr>
      <th class="fixed freeze" colspan="5" style="background-color: white;font-size: 0.9rem !important;">Group</th>
      <th class="fixed freeze_vertical" colspan="3" style="background-color: #98AFC7;font-size: 0.9rem !important;">Plan Review</th>
      <th class="fixed freeze_vertical" colspan="8" style="background-color: #FFA500;font-size: 0.9rem !important;">Data Preparation </th>
      <th class="fixed freeze_vertical" colspan="3" style="background-color: #ADD8E6;font-size: 0.9rem !important;">Contributions</th>
      <th class="fixed freeze_vertical" colspan="8" style="background-color: #9CB071;font-size: 0.9rem !important;">Compliance Testing</th>
      <th class="fixed freeze_vertical" colspan="2" style="background-color: #98AFC7;font-size: 0.9rem !important;">Form 5500</th>
      <th class="fixed freeze_vertical" colspan="8" style="background-color: #FFFF00;font-size: 0.9rem !important;">Prepare Annual Report</th>
      <th class="fixed freeze_vertical" colspan="6" style="background-color: #C48793;font-size: 0.9rem !important;">Client Communication</th>
      <th class="fixed freeze_vertical" colspan="4" style="background-color: #ADD8E6;font-size: 0.9rem !important;">Project Review</th>
    </tr>
    <tr class="tr_shaded" style="font-size: 0.6rem;">
      <td class="fixed freeze_horizontal" style="background-color: white;border: 0px;">Plan Id</td>
      <td class="fixed freeze_horizontal" style="background-color: white;border: 0px;">Large Plan Name</td>
      <td class="fixed freeze_horizontal" style="background-color: white;border: 0px;">Plan End</td>
      <td class="fixed freeze_horizontal" style="background-color: white;border: 0px;">Period End</td>
      <td class="fixed freeze_horizontal" style="background-color: white;border: 0px;">Plan Type</td>
      <td class="" style="background-color: #98AFC7">Review Plan Document</td>
      <td class="" style="background-color: #98AFC7">Review Prior Year Administration</th>
      <td class="" style="background-color: #98AFC7">Review Plan </td>
      <td class="" style="background-color: #FFA500;">ASC census import</td>
      <td class="" style="background-color: #FFA500;">Data Choice</td>
      <td class="" style="background-color: #FFA500;">Financial Data Import</td>
      <td class="" style="background-color: #FFA500;">Trust Accounting</td>
      <td class="" style="background-color: #FFA500;">Print Deposit Summary and INVY sum ASC Report</td>
      <td class="" style="background-color: #FFA500;">Run Complete Calculated</td>
      <td class="" style="background-color: #FFA500;">Sort Census</td>
      <td class="" style="background-color: #FFA500;">RMD</td>
      <td class="" style="background-color: #ADD8E6;">Contribution Calculation</td>
      <td class="" style="background-color: #ADD8E6;">Contribution Provided to CLient *</td>
      <td class="" style="background-color: #ADD8E6;">Contribution Confirmation</td>
      <td class="" style="background-color: #9CB071;">Determination</td>
      <td class="" style="background-color: #9CB071;">Top Heavy</td>
      <td class="" style="background-color: #9CB071;">402</td>
      <td class="" style="background-color: #9CB071;">Coverage 410</td>
      <td class="" style="background-color: #9CB071;">401(a)</td>
      <td class="" style="background-color: #9CB071;">ADP</td>
      <td class="" style="background-color: #9CB071;">415</td>
      <td class="" style="background-color: #9CB071;">404</td>
      <td class="" style="background-color: #98AFC7;">Form 5500 Completion</td>
      <td class="" style="background-color: #98AFC7;">Annual Package Review</td>
      <td class="" style="background-color: #FFFF00;">Prepare Cover letter</td>
      <td class="" style="background-color: #FFFF00;">Table of content</td>
      <td class="" style="background-color: #FFFF00;">Balance and income sheet</td>
      <td class="" style="background-color: #FFFF00;">5500 and schedules</td>
      <td class="" style="background-color: #FFFF00;">Filing Authorization</td>
      <td class="" style="background-color: #FFFF00;">Summary Annual Report</td>
      <td class="" style="background-color: #FFFF00;">Participant Statement</td>
      <td class="" style="background-color: #FFFF00;">Visualization Report</td>
      <td class="" style="background-color: #C48793;">Deliver Annual Report</td>
      <td class="" style="background-color: #C48793;">Send 5500 invite</td>
      <td class="" style="background-color: #C48793;">Drive 55A</td>
      <td class="" style="background-color: #C48793;">5500 signed</td>
      <td class="" style="background-color: #C48793;">Schedule Client Meeting</td>
      <td class="" style="background-color: #C48793;">Save meeting notes in file</td>
      <td class="" style="background-color: #ADD8E6;">RMD confirmation of withdrawal</td>
      <td class="" style="background-color: #ADD8E6;">Create and upload vesting</td>
      <td class="" style="background-color: #ADD8E6;">Filing Authorization</td>
      <td class="" style="background-color: #ADD8E6;">Summary Annual Report</td>
    </tr>
      <%params[:number].to_i.times.each do %>
      <tr class="tr_shaded" style="background-color: #fff;">
        <td class="pt-3-half fixed freeze_horizontal" contenteditable="true"></td>
        <td class="pt-3-half fixed freeze_horizontal" contenteditable="true"></td>
        <td class="pt-3-half fixed freeze_horizontal" contenteditable="true"></td>
        <td class="pt-3-half fixed freeze_horizontal" contenteditable="true"></td>
        <td class="pt-3-half fixed freeze_horizontal" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
      </tr>
      <%end%>
    
  </table>

  <!-- Editable table -->
