<!--adding style because box-sizing was messing wih frozen cells-->
<style>
  * {
    box-sizing: revert;
  }
</style>

<div id="frozenTable" class="row">
  <div class="col-lg-4 px-0" style="border-right: 0px;">
  <table id="frozen_table" class="table table-bordered table-striped table-responsive"
    style="background-color: #fff; border-collapse: separate !important;">
    <thead>
      <tr>
        <th class=" " colspan="5" data-colspan="5" style="height: 4em; background-color: white;font-size: 0.9rem !important;">Group
        </th>
      </tr>
      <tr>
        <th class="secondary-header"  style="background-color: white;">Plan Id</th>
        <th class="secondary-header"  style="background-color: white;">Large Plan Name</th>
        <th class="secondary-header"  style="background-color: white;">Plan End</th>
        <th class="secondary-header"  style="background-color: white;">Period End</th>
        <th class="secondary-header"  style="background-color: white;">Plan Type</th>
      </tr>
    </thead>
    <tbody>
      <%params[:number].to_i.times.each do %>   
      <tr style="background-color: #fff;">
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true"></td>
        <td class="pt-3-half" contenteditable="true">Test</td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
  <div class="col-lg-8 px-0" style="border-left:0px">
    <table id="scrollable_table" class="table table-bordered table-striped table-responsive" style="background-color: #fff;">
      <thead>
        <tr>
          <th class=" " colspan="3" data-colspan="3" style="background-color: #98AFC7;font-size: 0.9rem !important;height: 4em; ">
            Plan
            Review <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
          <th class=" " colspan="8" data-colspan="8" style="background-color: #FFA500;font-size: 0.9rem !important;height: 4em; ">
            Data
            Preparation <input type="button" value="-" class="btn-secondary btn-collapse" />
          </th>
          <th class=" " colspan="3" data-colspan="3" style="background-color: #ADD8E6;font-size: 0.9rem !important;height: 4em; ">
            Contributions <input type="button" value="-" class="btn-secondary btn-collapse" />
          </th>
          <th class=" " colspan="8" data-colspan="8" style="background-color: #9CB071;font-size: 0.9rem !important;height: 4em; ">
            Compliance
            Testing <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
          <th class=" " colspan="2" data-colspan="2" style="background-color: #98AFC7;font-size: 0.9rem !important;height: 4em; ">
            Form
            5500 <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
          <th class=" " colspan="8" data-colspan="8" style="background-color: #FFFF00;font-size: 0.9rem !important;height: 4em; ">
            Prepare Annual
            Report <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
          <th class=" " colspan="6" data-colspan="6" style="background-color: #C48793;font-size: 0.9rem !important;height: 4em; ">
            Client
            Communication <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
          <th class=" " colspan="4" data-colspan="4" style="background-color: #ADD8E6;font-size: 0.9rem !important;height: 4em; ">
            Project Review <input type="button" value="-" class="btn-secondary btn-collapse" /></th>
        </tr>
        <tr>
          <th class="secondary-header" style="background-color: #98AFC7">Review Plan Document</th>
          <th class="secondary-header" style="background-color: #98AFC7">Review Prior Year Administration</th>
          <th class="secondary-header" style="background-color: #98AFC7">Review Plan </th>
          <th class="secondary-header" style="background-color: #FFA500;">ASC census import</th>
          <th class="secondary-header" style="background-color: #FFA500;">Data Choice</th>
          <th class="secondary-header" style="background-color: #FFA500;">Financial Data Import</th>
          <th class="secondary-header" style="background-color: #FFA500;">Trust Accounting</th>
          <th class="secondary-header" style="background-color: #FFA500;">Print Deposit Summary and INVY sum ASC Report</th>
          <th class="secondary-header" style="background-color: #FFA500;">Run Complete Calculated</th>
          <th class="secondary-header" style="background-color: #FFA500;">Sort Census</th>
          <th class="secondary-header" style="background-color: #FFA500;">RMD</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Contribution Calculation</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Contribution Provided to CLient *</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Contribution Confirmation</th>
          <th class="secondary-header" style="background-color: #9CB071;">Determination</th>
          <th class="secondary-header" style="background-color: #9CB071;">Top Heavy</th>
          <th class="secondary-header" style="background-color: #9CB071;">402</th>
          <th class="secondary-header" style="background-color: #9CB071;">Coverage 410</th>
          <th class="secondary-header" style="background-color: #9CB071;">401(a)</th>
          <th class="secondary-header" style="background-color: #9CB071;">ADP</th>
          <th class="secondary-header" style="background-color: #9CB071;">415</th>
          <th class="secondary-header" style="background-color: #9CB071;">404</th>
          <th class="secondary-header" style="background-color: #98AFC7;">Form 5500 Completion</th>
          <th class="secondary-header" style="background-color: #98AFC7;">Annual Package Review</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Prepare Cover letter</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Table of content</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Balance and income sheet</th>
          <th class="secondary-header" style="background-color: #FFFF00;">5500 and schedules</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Filing Authorization</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Summary Annual Report</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Participant Statement</th>
          <th class="secondary-header" style="background-color: #FFFF00;">Visualization Report</th>
          <th class="secondary-header" style="background-color: #C48793;">Deliver Annual Report</th>
          <th class="secondary-header" style="background-color: #C48793;">Send 5500 invite</th>
          <th class="secondary-header" style="background-color: #C48793;">Drive 55A</th>
          <th class="secondary-header" style="background-color: #C48793;">5500 signed</th>
          <th class="secondary-header" style="background-color: #C48793;">Schedule Client Meeting</th>
          <th class="secondary-header" style="background-color: #C48793;">Save meeting notes in file</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">RMD confirmation of withdrawal</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Create and upload vesting</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Filing Authorization</th>
          <th class="secondary-header" style="background-color: #ADD8E6;">Summary Annual Report</th>
        </tr>
      </thead>
      <tbody>

        <%params[:number].to_i.times.each do %>
        <tr style="background-color: #fff;">
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true">Test</td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
          <td class="pt-3-half" contenteditable="true"></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<!-- Editable table -->