
<div class="container-fluid page__heading-container">
  <div class="page__heading d-flex align-items-center">
    <div class="flex">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href=<%=root_path%>><i class="material-icons icon-20pt">home</i></a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <h1 class="m-0">Dashboard</h1>
    </div>
  </div>
</div>
<%= image_tag("home.jpg", :alt => "rss feed", :size => '1000x660') %>
<!--
<div class="container-fluid page__container">

  <div class="card">
  <div class="card-body">
    <h4>Rails</h4>
    <p>Admin Application</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">

    <div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-0"><span class="text-muted"></span> Admin Dashboard</h4>
    </div>
    <hr>

      <hr>
  </div>
</div>
</div>
-->



