<div class="row" >
  <div class="col-lg-4 left-move"></div>
  <div class="col-lg-4 left-move">
    <%=f.text_field :change_request,required: true%>
    <div class="invalid-feedback">Please provide a time.</div>
    <div class="valid-feedback">Looks good!</div>
  </div>
</div>
<input type=hidden name='user_id' value= <%=params[:user_id]%> />

<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    
    <div class="ml-2">
      <%= link_to 'Cancel', contacts_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
