<div class="container-fluid page__heading-container" id="show-view">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= find_created_by_user(@contact_change_request)%></h1>
  </div>
</div>
</div>

<div class="container-fluid page__container"  >
  <div class= "row ">
    <div class="col-lg-5">
      <div class="card card-form__body">
        <div class = "table-responsive">
          <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
            <tbody>
              <tr>
                <td>Date </td>
                <td> <%=@contact_change_request.date%> </td>
              </tr>
              <tr>
                <td>Change request </td>
                <td> <%=@contact_change_request.change_request%> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
