 <div class="container">
  <% flash.each do |name, msg| %>
    <div class="flash-custom alert alert-<%= name == "notice"? "success" : "danger" %> alert-dismissible fade show">
    <%= msg %>
      
    </div>
  <% end %>
</div>