	<div class="container flash-custom" >
		<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == "notice"? "success" : "danger" %> alert-dismissible fade show">
			<%= msg %>     
			</div>
		<% end %>
	</div>
