<div class="container-fluid page__heading-container">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= @right.right_type %></h1>
  </div>
</div>
</div>
