<div class="page__heading cancel-row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Role</a></li>
    </ol>
  </nav>
  <h1 class="m-0">Edit Role </h1>
</div>

<div class="card card-">
  <div class="col-lg-12 card-form__body card-body">
      <%= bootstrap_form_for(@role) do |f| %>
        <%=render 'edit_form', f: f %>
      <% end %>
  </div>
</div>
