<div class="container-fluid full-scroll">
  <div class="page__heading cancel-row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</a></li>
      </ol>
    </nav>
    <h1 class="m-0">Edit Contact </h1>
  </div>
  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-12 card-form__body card-body">
        <div class="company_flash_message">
          <% if flash[:alert]%>
            <%flash[:alert].split('.').each do |error|%>
              <div class="company_flash_message">
                  <%=error%>
                </div>
            <%end%>
            <% flash[:alert]=nil%>
					<%end%>
        </div>
        <%= bootstrap_form_for(@number, local:true) do |f| %>
          <%=render 'form', f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
