<div class="container-fluid page__heading-container">
	<div class="page__heading d-flex align-items-center">
		<div class="flex">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item"><a href=<%=root_path%>><i
								class="material-icons icon-20pt">home</i></a></li>
					<li class="breadcrumb-item active" aria-current="page"><a href='feduciary_documents'>Secure
							Files</a></li>
				</ol>
			</nav>
			<h1 class="m-0"> Secure File</h1>
		</div>
	</div>
</div>
<div class="card card-">
	<div class="row no-gutters">
		<div class="col-lg-12 card-form__body card-body">

			<div class="col-lg-6 ml-3">
				<a href="https://www.pensionpro.com">Upload Your File</a>

			</div>
		</div>
	</div>
</div>