<%questions.each_with_index do |fifty_five, index|%>
  <div class="row" >
    <div class="col-lg-9" >
      <%=f.label 'question'+(index+1).to_s,fifty_five,class: "text-transform: none" %>
    </div>
    <div class="col-lg-3">
      <%=f.select 'question'+(index+1).to_s,options_for_select(["Yes","No"])%>
      <div class="invalid-feedback">Please provide a time.</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>
<%end%>

<div class="actions col-lg-12">
  <div class="row">
    <div class="col-lg-5 left-move"></div>
    <div class="left-move">
      <%= f.submit value: "Save", class: "btn btn-primary"%>
    </div>
    <div class="col-lg-1 right-move"></div>
    <div class="right-move">
      <%= link_to 'Cancel', root_path, class: "btn btn-secondary " %>
    </div>
  </div>
</div>
