<div class="container-fluid full-scroll">
	<div class="page__heading cancel-row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><i class="material-icons icon-20pt">home</i></li>
				<li class="breadcrumb-item active" aria-current="page">5500</a></li>
			</ol>
		</nav>
		<div class="row">
			<div style="display:inline-block" class=" col-lg-4  w-50 p-12 px-md-1 ">
				<h1 class="ml-3">View 5500</h1>
			</div>
		</div>
	</div>

	<div class="card card-form">
		<div class="row no-gutters">
			<div class="col-lg-12 card-form__body">
				<div class="ml-3  float-right">
					<%=link_to 'Add 5500',fifty_5500_new_path, class:"btn btn-primary m-1 float-right" %>
				</div>
				<div class="ml-2 my-1 float-right">
					<button type="button" class="btn btn-success  px-3" data-toggle="modal"
						data-target="#new_approval ">Notes
					</button>
				</div>
			</div>

		</div>
	</div>
</div>