<div class="container-fluid page__heading-container" id="show-view">
<div class="page__heading d-flex align-items-center">
  <div class="flex">
    <h1 class="m-0"><%= @project_template.project&.name %></h1>
  </div>
</div>
</div>

<div class="container-fluid page__container"  > 
  <div class= "row ">
  <div class="col-lg-5">
  <div class="card card-form__body">
    <div class = "table-responsive">
      <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
        <tbody>
          <tr>
            <td> Start Date </td>
            <td> <%=@project_template.start_date%> </td>
          </tr>
          <tr>
            <td> External Deadline </td>
            <td> <%=@project_template.external_deadline%> </td>
          </tr>
          <tr>
            <td>Require Web Collection </td>
            <td> <%=@project_template.require_web_collection%> </td>
          </tr>
        </tbody>
       </table>
      </div>
    </div>
    </div>
</div>
</div>
