<p>
  <b>Address type:</b>
  <%= @general.address_type %>
</p>
<p>
  <b>Address:</b>
  <%= @general.address %>
</p>
<p>
  <b>Contact type:</b>
  <%= @general.contact_type %>
</p>
<p>
  <b>Number:</b>
  <%= @general.number %>
</p>
