
<div class="container-fluid page__container"  > 
  <div class= "row ">
    <div class="col-lg-5">
      <div class="card card-form__body">
        <div class = "table-responsive">
          <table class="table mb-0 thead-border-top-0 mt-1  table-hover table-bordered">
            <tbody>
              <tr>
                <td> 1 </td>
                <td> <%="The Task which cannot be completed by our client using plan sponsor link .When they have completed and approved the data for the Task,the task will be shown as completed "%> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </div> 
</div>
