// .left-move { float: left;}
// .right-move { float: right;}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
    .center {
      margin: auto;
      width: 80%;
      padding: 10px;
    }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
      #mt-n1 {
        margin-top: 15rem !important;
      }
      .topnav .search-container button {
        float: left;
        padding: 6px;
        margin-top: 18px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      .topnav .search-container {
        float: right;
      }
      .anyClass {
        //height:490px;
        //overflow-y: auto;
      }
      .full-scroll{
        //height:600px;
        //overflow-y: auto;
      }
      .employee_index_scroll{
        //height:750px;
        //overflow-y: auto;
      }
      .company_index_scroll{
        //heifght:1000px;
        //overflow-y: auto;
      }
      .employee-form-scroll {
        //height:850px;
        //overflow-y: auto;
      }
      .modal-open{
        height:490px;
        overflow-y: auto
      }
      .modal-backdrop {
        z-index: 1040 !important;
        height:100vh
      }
      .modal-content {
          margin: 2px auto;
          z-index: 1100 !important;
      }
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        overflow: hidden;        outline: 0;
    }
      .modal-backdrop {
        height:100vh;
        /* bug fix - no overlay */
        display: none;
      }
      .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
     .modal-edit{
     }
     .cancel-row{
       margin-left: 1%;
       margin-right: 0%;
     }

  // .btn-size{
  //   width: fit-content;
  // }
  .pagination > a,em,.previous_page,.next_page {
    position: relative;
    display: block;
    padding: 0.375rem 0.875rem;
    margin-left: -1px;
    line-height: 1.50;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  .pagination > .disabled {
    background: lightgrey;
   }
  .pagination > .current {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
 
  .cursor-pointer{
    cursor: pointer;

  }
  th {
    font-size: large !important;
  }

  .sidebar-light .open {
    background: #ffffff;
}
.sidebar-light {
  color: rgba(0, 0, 0, 0.54);
  background: #ffffff;
}

#error_explanation {
  color: rgb(221, 61, 77);
}

.amd-head {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
table.fixed {
  table-layout: fixed;
  width: 100%;
}
.task{
  font-size: .8rem;
    letter-spacing: 1.2px;
    color: rgba(147, 159, 173, 0.84);
    line-height: .9375rem;
    margin-bottom: .5rem;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 2px solid #efefef;
    line-height: 1.25rem;
}
.disable-menu-item{
  cursor: default;
  color:#aeb4bb !important;
  &:hover{
    color:#aeb4bb !important;
    text-decoration: none;

  }
}


.naic_code {
	margin-top: 2.0rem !important;
}

.card-no-flex {
	display: block !important;
}



.mt-6 {
	margin-top: 3.5rem !important;
}

.mt-7 {
	margin-top: 4rem !important;
}

.px-6 {
	padding-left: 3.5rem !important;
	padding-right: 3.5rem !important;
}

.px-5 {
	padding-left: 1.75rem !important;
	padding-right: 1.75rem !important;
}

.plan_header {
background-color: #364c66;
color: white;

}



.btn-approval-active:after{
	content: 'Sign and Submit';
	font-weight: 800 !important;
}

.btn-approval-disabled:after {
  content: 'Sign and Approve';
}

.fiscal_date{
	width: 75px !important;
	display: initial !important;
}

.fiscal_month{
	width: 75px !important;
	display: initial !important;
}

#question_answer_3{
	padding-left: 18px !important;
}

.btn-success {
  color: #fff;
  background-color: #499E24;
  border-color: #499E24;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-primary {
	color: #fff;
  background-color: #2576D4;
  border-color: #2576D4;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

}

.btn-danger {
	color: #fff;
  background-color: #bf2d3b;
  border-color: #bf2d3b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075)

}
.card-form__body label:not([class]), .text-label-large, .text-label {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5;
	color: #112b4a;
	text-align: left;
	text-transform: initial;
	letter-spacing: initial;
	
}


.required:after {
	color: #e32;
	content: ' *';
	display:inline;
}

#description {
	resize: none;
	}

	// .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
	// 	margin-left: -30px !important;
	// }
	
.error_div > label{
	color: red;
}

.form-check-label {
	margin-top: 2px !important;
}

.plan_flash_message .alert-danger {
	color: red;
	background-color: #F3F5F6 !important; 
	border-color: #F3F5F6 !important;
}
.company_flash_message {
	color: red;
	background-color: #F3F5F6 !important;
	border-color: #F3F5F6 !important;
}
.plan_flash_message .alert-success {
	color: green;
	background-color: #F3F5F6 !important;
	border-color: #F3F5F6 !important;
}
.plan_flash_message {
	margin-right: 10em;
}

.necessary_field
{
  position: absolute; color: red;
}

// ========================================================


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #967405; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: rgba(17, 43, 74, 0.84); font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: rgb(119, 7, 122); font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #99e597; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #066e02; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #F7F8F9;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e59797;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {background-color: #c70f0f;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


.progress {
	background-color:#F7F8F9  !important ;
}
.date-class{
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 2;
  border: 1px solid #DBDFE4;
  border-radius: 0.25rem;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	margin-bottom: 15px;
}
td, th {
  padding-left: 5px;
  padding-right: 5px;
}

.tr_shaded:nth-child(even) {
  background: #e0e0e0;
}

.tr_shaded:nth-child(odd) {
  background: #ffffff;
}


.scrolly_table {
  white-space: nowrap;
  overflow: auto;
}
.scrolly_table > table > tbody {
  height: 100px;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

/* The frozen cells will each get two class names,
   making it easier for me to select all of them or
   only a subset.  All frozen cells will be "fixed",
   the corner will also be in class "freeze", and the
   row and column headers will be "horizontal" and
   "vertical" respectively. */
.fixed.freeze {
  z-index: 10;
  position: relative;
}

.fixed.freeze_vertical {
  z-index: 5;
  position: relative;
}

.fixed.freeze_horizontal {
  z-index: 1;
  position: relative;
}


// 
//for fht


.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
	margin: 0;
}

.fht-table{
	border: 0 none;
	height: auto;
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
	/*table-layout: fixed;  Algoritmo de distribucion fijo */
    /*white-space:nowrap;   Impide los saltos de línea automáticos */
}

.fht-table th,.fht-table td {
    overflow: hidden;
}

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	overflow: hidden;
	position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
	overflow: hidden;
	height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
	top: 0;
	left: 0;
	position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
	z-index: 1;
}

.fht-fixed-body .fht-thead table {
	margin-right: 20px;
	border: 0 none;
}

/*For Examples*/

.ContenedorTabla {
	height: calc(100vh);
	margin: 0 auto;
	overflow: auto;
	width: calc(100vw);
	position: relative;
}

.titulosHeader {
    border-bottom: 1px solid #e8bb25;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
} 


.celda_encabezado_general {
    background-color: #003399;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 4px;
    text-align: center;
}
.celda_normal {
    /*background-color: #fff;*/
    border: 1px solid #ccc;
    padding: 2px 4px;
}

/*style excel*/
.excel_cell{
	border: 1px solid #CCC;
	color: #222;
	text-align: center;
	font-size: 13px;
	font-weight:  normal;
	padding: 4px;
	white-space: pre-line;
	empty-cells: show;
}
._cell_header{
	background-color: #EEE;
}
._cell_Default{
	background-color: #FFF;
	text-align: left;
}

.excel_cell div {
  width: 30px;
  height: 20px;
}
.fht-table-wrapper {
  box-sizing: content-box;
}
.secondary-header {
  height: 8em;
}
#frozenTable {
  height: calc(100vh - 2em) !important;
  width: calc(100vw - 2em) !important;
}
#scrollable_table,
#frozen_table {
  display: block;
  height: calc(100vh - 3em);
  overflow-y: auto;
  border-collapse: separate !important;
}
#frozen_table {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebarCollapse {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #969EA7;
	line-height: 35px;
	font-size: 15px;
	padding: 0 11px;
	text-align: center;
	cursor: pointer;
}

.sidebarExpand {
	margin-top: 5px;
	//margin-bottom: 10px;
	color: #969EA7;
	line-height: 35px;
	font-size: 15px;
	padding: 0 11px;
	text-align: center;
	cursor: pointer;
}

.sidebar-light .active > .sidebar-menu-button .sidebar-menu-icon {
  color: #308AF3 !important;
}

.mdk-drawer__content{
  transition: none !important;
}


.numberfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.numberfield[type=number] {
  -moz-appearance: textfield;
}

.banner-img{
  height: 100vh;
  width: 320px;
} 
.dropdown{
  border-radius: 5px;
  display: none;
  position: absolute;
  background: #dfdfdf;
  right: 22px;
  top: 45px;
}

.dropdown-item{
  font-size: 20px;
  padding: 10px 30px 10px 30px;
}


hr.dotted{
  margin: 0px;
}



.plantable{
  display: none;
}
.table_title{
  line-height: 5px !important;
}
