<p>We received a password reset request. Please use this <%= link_to 'LINK', edit_password_url(@resource, reset_password_token: @token) %> to set your new password. </p>

<p>If you did not request this password reset, contact <a herf="#">abcxyz@gmail.com</a></p>
<br>
<b><a href="#" style="text-decoration:none;">Veraut</a></b>
